<h1>Hello Rails!!</h1>
<h2>This is my first blog</h2>
<h3>Welcome to visit here  </h3>
<p>Beijing Time: <%= Time.now.strftime("%Y-%m-%d %H:%M:%S %z") %> </p>
<%= link_to 'My Blog', controller: 'articles' %>